<%- include('../partials/nabvar.ejs') %>
<main>
	<div class="hero-cap text-center mt-2 mb-5">
		<h1>Checkout & Payment</h1>
		<hr />
	</div>
	<!--================Checkout Area =================-->
	<section class="checkout_area section_padding">
		<div class="container">
			<div class="billing_details">
				<div class="row">
					<div class="col-lg-8">
						<h3>Billing Details</h3>
						<form
							class="row contact_form"
							action="#"
							method="post"
							novalidate="novalidate"
						>
							<div class="col-md-12 form-group">
								<input
									type="text"
									class="form-control"
									id="full"
									name="name"
									placeholder="Full name"
								/>
							</div>
							<div class="col-md-6 form-group">
								<input
									type="text"
									class="form-control"
									id="number"
									name="number"
									placeholder="Phone number"
								/>
							</div>
							<div class="col-md-6 form-group">
								<input
									type="text"
									class="form-control"
									id="email"
									name="compemailany"
									placeholder="Email Address"
								/>
							</div>
							<div class="col-md-12 form-group">
								<select class="form-control">
									<option value="">-- Choose State --</option>
									<option value="westBengal">West Bengal</option>
									<option value="delhi">Delhi</option>
								</select>
							</div>
							<div class="col-md-12 form-group">
								<select class="form-control">
									<option value="">-- Choose District --</option>
									<option value="howrah">Howrah</option>
									<option value="kolkata">kolkata</option>
								</select>
							</div>
							<div class="col-md-12 form-group">
								<input
									type="text"
									class="form-control"
									id="add1"
									name="add1"
									placeholder="Primary Address"
								/>
							</div>
							<div class="col-md-12 form-group">
								<input
									type="text"
									class="form-control"
									id="city"
									name="city"
									placeholder="Town/City"
								/>
							</div>
							<div class="col-md-12 form-group">
								<input
									type="text"
									class="form-control"
									id="zip"
									name="zip"
									placeholder="Postalcode / ZIP"
								/>
							</div>
						</form>
					</div>
					<div class="col-lg-4">
						<div class="order_box">
							<h2>Your Order</h2>
							<ul class="list">
								<li>
									<p>Product
										<span>Total</span>
									</p>
								</li>
								<li>
									<p>Fresh Blackberry
										<span class="middle">x 02</span>
										<span class="last">$720.00</span>
									</p>
								</li>
							</ul>
							<ul class="list list_2">
								<li>
									<p>Subtotal
										<span>$2160.00</span>
									</p>
								</li>
								<li>
									<p>Shipping
										<span>Flat rate: $50.00</span>
									</p>
								</li>
								<li>
									<p>Total
										<span>$2210.00</span>
									</p>
								</li>
							</ul>
							<a class="btn btn-block" href="#">Place Order</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Checkout Area =================-->
</main>
<%- include('../partials/footer.ejs') %> <%-
include('../partials/search-box.ejs') %>
