<%- include('../partials/navbar.ejs') %>
<main>
    <div class="text-center">
        <h1 class="display-4 mt-5 mb-5">
            Order Placed Successfully!
        </h1>
        <a class="btn_1 btn-sm" href="/"><span data-feather="arrow-left"></span> Continue Shopping</a>

    </div>
</main>


<%- include('../partials/footer.ejs') %> 
<%- include('../partials/search-box.ejs') %>

<script>

</script>
