<%- include('../partials/navbar.ejs') %>
<main>
	<div class="container">
		<div class="row mt-5">
			<div class="col-6">
				<h3>Account</h3>
			</div>
			<div class="col-6">
				<p class="text-right"><a href="/users/logout" class="text-danger">Logout <span data-feather="log-out"></span></a></p>
			</div>
		</div>
		
		<br />
		<br />
		<div class="card-deck">
			<a href="orders" class="card shadow-sm border-0">
				<div class="card-body text-center m-5">
					<p class="icon-lg"><span data-feather="truck"></span></p>
					<h5 class="card-text mt-4">All Orders</h5>
					<p>See all your active or pending orders.</p>
				</div>
			</a>
			<a href="/account/credentials" class="card shadow-sm border-0">
				<div class="card-body text-center m-5">
					<p class="icon-lg"><span data-feather="lock"></span></p>
					<h5 class="card-text mt-4">Account Credentials</h5>
					<p>Edit login, name, email, and etc.</p>
				</div>
			</a>
			<a href="/account/issues" class="card shadow-sm border-0">
				<div class="card-body text-center m-5">
					<p class="icon-lg"><span data-feather="message-square"></span></p>
					<h5 class="card-text mt-4">Issues</h5>
					<p>Need help? Chat with our professionals.</p>
				</div>
			</a>
		</div>
		
	</div>
</main>
<%- include('../partials/footer.ejs') %> <%-
include('../partials/search-box.ejs') %>
