<%- include('../partials/nabvar.ejs') %>
<main>
	<h1 class="mt-4">Account</h1>
	<p class="lead mb-3">Welcome <%= name %></p>
	<a href="/users/logout" class="btn btn-secondary">Logout</a>
	<br />
	<br />
	<h3>Your Orders</h3>
	<p>TV</p>
	<p>Fridge</p>
	<p>Microven</p>
	<p>Washing Machine</p>
</main>
<%- include('../partials/footer.ejs') %> <%-
include('../partials/search-box.ejs') %>
