<!--? Search model Begin -->
<div class="search-model-box">
	<div class="h-100">
		<div class="search-close-btn">+</div>
		<form class="search-model-form" id="searchForm" method="GET">
			<div class="d-flex mb-2">
				<input
				class="mb-2 input-container aa-input-search form-control"
				type="text"
				id="search-input"
				placeholder="Search here anyting..."
				autocomplete="off"
				/>
				<button type="submit" class="search-btn">Search</button>
			</div>
			<div class="bg-white" id="hits"></div>
			<p id="algoliaPromo">Search by <a class="text-muted font-weight-bold" href="https://www.algolia.com/">Algolia</a></p>
		</form>
	</div>
</div>
<!-- Search model end -->

<script>
	$('#search-input').change(e => {
		$('#searchForm').attr('action', `/search/${e.target.value}`);
	});


</script>
