<%- include('partials/nabvar.ejs') %>
<main>
    <div class="text-center mt-5">
        <h1 class="display-4">500 Internal server error occured!</h1>
        <p>Please try again later</p>
    </div>
</main>
<%- include('./partials/footer.ejs') %> 
<%- include('./partials/search-box.ejs') %>