<%- include('partials/nabvar.ejs') %>
<main>
    <div class="row mt-5">
        <div class="col-sm-6 col-md-2 border border-primary">
            <h4>Filters</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius tempore atque natus numquam sed ratione suscipit reiciendis. Expedita eaque est fuga, porro nulla eos rem nam enim, aut illum deleniti.
        </div>
        <div class="col-sm-6 col-md-10 border border-danger">
            <h4>Products</h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi vitae obcaecati aut repudiandae tempora illo, tenetur corrupti accusamus pariatur aperiam, illum natus dolor incidunt labore, quia quae fugit nisi impedit?
        </div>
    </div>
</main>
<%- include('./partials/footer.ejs') %> 
<%- include('./partials/search-box.ejs') %>