<%- include('./partials/navbar.ejs') %>
<main>
    <div class="container mt-5">
        <h1>Contact Us</h1>
        <hr>
        <form action="/contact-us" method="post">
            <div class="row">
                <div class="col-12">
                    <%- include ('./partials/messages') %>
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control my-2" type="text" name="name" placeholder="Full Name" required>
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control my-2" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control my-2" type="tel" name="phone", placeholder="Phone (optional)">
                </div>
                <div class="col-12">
                    <input class="form-control my-2" type="text" name="subject" placeholder="Subject" required>
                </div>
                <div class="col-12">
                    <textarea class="form-control my-2" rows="5" name="message" placeholder="Type your message here..." required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn my-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>
<%- include('./partials/footer.ejs') %> 
<%- include('./partials/search-box.ejs') %>
