<%- include('./partials/navbar.ejs') %>
<div class="text-center mt-5">
	<h1 class="display-4">401 Authorization Error</h1>
	<p>You are not authorized to visit that page!</p>
</div>
<%- include('./partials/footer.ejs') %> <%- include('./partials/search-box.ejs')
%>
